
* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Vazir", sans-serif;
}
a {
  text-decoration: none;
}

.bg-dark {
  background-color: #333;
  color: white;
}

.bg-light{

  background-color: #f4f4f4f4;
  color: #333;

}
.text-primary {
  color: rgb(243, 203, 128);;
}

#navbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0.5rem;

  position: sticky;
  top: 0;
}

#navbar ul {
  display: flex;
  /* flex-direction: row-reverse; */
  align-items: center;
  list-style: none;
}
#navbar a {
  color: white;
}
#navbar ul li a {
  padding: 0.8rem;
  margin: 0 0.23rem;
}

#navbar ul li a:hover {
  background-color: orange;
  color: white;
  border-radius: 6px;
}

#header{

  background: linear-gradient(rgba(40,0,0,0.8),rgba(0,0,0,0.5)),url(images/slider.avif);

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 80vh;
}

#header .content{
display: flex;
flex-direction: column;
align-items: center;

text-align: center;
color: white;
padding: 5% 0.5rem;
}

.text{

  margin-top: 3rem;
  font-family: Vazir;
  font-weight: bold;

}
.heading{

  margin-top: 3rem;
}

.btn{
display: inline-block;
background-color:rgb(233, 161, 27);;
padding: 10px 20px;
border-radius: 5px;

margin-top: 10%;
font-family: Vazir-bold;
color: white;
cursor: pointer;


}

.btn:hover{

  color:  rgb(233, 161, 27);;
  background-color: white;
}

.m-0 {
  margin: 0;
}
.m-1 {
  margin: 1.25rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}

.p-1 {
  padding: 1.25rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.py-1{
  padding: 1.25rem 0;
}
.py-2{
  padding: 2rem 0;
}
.py-3{
  padding: 3rem 0;
}


.container{

max-width: 1100px;
margin: auto;
padding: 0 2rem;

}

#section1 .items{

  display: flex;
  padding: 1rem;

}
#section1 .items .item{

  flex: 1;
  text-align: center;
}

#section1 .items .item i{

  background: rgb(243, 203, 128);
  padding: 1.25rem;
  border-radius: 50%;
}

.text-center{

  text-align: center;

}

.m-heading{

  font-size: 1.5rem;
}

#section2{

  display: flex;
}

#section2 div{
  flex: 1;
}

#section2 .img{

  background: url('images/about.avif')no-repeat center center/cover ;
}

#section2 .content{

  text-align: left;
}

.list{

  margin: 0.5;
  list-style: none;
}
.list li{
  border-bottom: #444 dotted 1px;
  padding: 0.5rem;
}

#section3 .items{

  display: flex;
}
#section3 .items div{
  flex: 1;
}

#section3 .items img{
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 50%;
}

#contact{

  display: flex;
  justify-content: center;
}

#contact .contact-form{


  flex-basis: 600px;
  text-align: left;
}
#contact .contact-form label{
  display: block;
  margin: 1rem 0;
}

#contact .contact-form input,
#contact .contact-form textarea{

  width: 100%;
  padding:0.5rem
}
